<!DOCTYPE html>
<html>
  <head>
    <title>BlogCurso</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>OneBitCode Blog's</h2>
    <%= link_to "Home", root_path %>
    <%= link_to "Postagem", posts_path %>
    <%= link_to "Categorias", categories_path %>

    <%= yield %>
  </body>
</html>
